
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: rgb(242, 235, 228);
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	background-color: rgba(21, 9, 4, 0.242);
	color: black
}
header .logo h1 {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;
	color: white;
}
nav ul li {
	display: inline;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 0.5em;
}
nav ul li a:hover {
	text-decoration: underline;
}


.form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

.form {
	max-width: 25em;
	padding: 2em;
	margin-top: 2em;
	background-color: lightseagreen;
	border: 1px solid black;
	padding-inline: 3em;
	box-shadow: 0.5em 0.5em 0.4em rgb(148, 147, 147);
	background-color: rgb(226, 221, 217);
}
/*.form p {
	font-size: 1.3em;
	
}*/

.formula {
	display: flex;
	flex-direction: column;
	
	/*max-width: 15em;*/
}

.type p {
	font-size: 1.2em;
}

label {
	font-weight: bold;
	font-size: 1.2em;
}

.foods {
	font-size: 0.8em;
}
input {
	font-size: 1.25rem;
	padding: 0.2em;
	border-radius: 0.2em;
	
}

.ticket, .eat  {
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
	
	
}


button {
	padding: 0.4em;
	font-size: 1em;
}

@media (min-width: 300px){
.form-container {
	display: flex;
	flex-direction: column;
	
}
}