
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: rgb(242, 235, 228);
}

/*header*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	background-color: rgb(109, 91, 84);
	
}
header .logo h1 {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;
	color: white;
}
nav ul li {
	display: inline;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 0.5em;
}
nav ul li a:hover {
	text-decoration: underline;
}
/* formulär*/

.form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

.form {
	max-width: 25em;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 1px solid black;
	padding-inline: 3em;
	box-shadow: 0.5em 0.5em 0.4em rgb(148, 147, 147);
	background-color: rgb(208 194 184);
}
.formula {
	display: flex;
	flex-direction: column;
	
}

.type p {
	font-size: 1.2em;
}

label {
	font-weight: bold;
	font-size: 1.2em;
}

.foods {
	font-size: 0.8em;
}
input {
	font-size: 1.25rem;
	padding: 0.2em;
	border-radius: 0.2em;
	
}

.ticket, .eat  {
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
	
}

input[type=checkbox] {
	width: 0.8em;
	height: 0.8em;
}
input[type=radio] {
	width: 0.8em;
	height: 0.8em;
}
input[type=text]:valid{
	background-color: rgb(170, 234, 170);
}

input[type=text]:invalid:focus {
	background-color: rgb(243, 173, 173);
}

input[type=text]:invalid:focus, 
input:invalid:focus ~ input{
	background-color: rgb(243, 173, 173);
}

input[type=text]:optional {
	background-color: white;
}

button {
	padding: 0.4em;
	font-size: 1em;
}

/* Footer*/

footer {
	background-color: #0333;
	color: #004080;
	align-items: center;
	text-align: center;
	padding: 20px 10px;
	position: relative;
	bottom: 0;
	width: 100%;
}

footer a {
	color: #004080;
	text-decoration: none;
	margin: 0 10px;
	
}
footer a:hover  {
	text-decoration: underline;
	
	
}
footer .contact, footer .about, footer .follow, footer .find {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2.2em;
	margin-top: 1em;
}
.find p {
	color: #034b94;
	margin: 0.5em;
}
.find a {
	margin: 0.5em;
}

.contact a {
	margin: 0.5em;
}
.foot {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 1em;
	
}
.follow {
	gap: 0.2em;

	
}
.follow img {
	width: 40px;
	height: 40px;
	display: flex;
	gap: 0.4em;	
}

/*media query*/

@media (min-width: 300px){
.form-container {
	display: flex;
	flex-direction: column;
	
}
}

@media (min-width: 600px) {
nav ul li a {
	align-content: center;
	text-align: center;
	gap: 0;
	flex-wrap: nowrap;
	}
}

@media (min-width:390px) {
header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	padding: 1em;
}
nav ul li a {
	align-content: center;
	justify-content: center;
	text-align: center;
	padding: 0.2em;
}
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


@media (min-width:940px) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 20px;
}
}

@media (min-width: 350px) {
	.foot {		
	display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 0;
			flex-wrap: nowrap;
}
} 
@media (min-width: 600px) {
	.foot {
		display: flex;
		flex-direction: row;
		align-content: center;
		text-align: center;
		gap: 0;
		
}
}